.headerImg {
  border-radius: 50%;
}

.cardSection {
  height: 150vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -90%;
}

.card {
  width: 50rem;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}

.card-title {
  font-size: 4rem;
}

.checkbox {
  width: 1.5rem;
  height: 2rem;
}

#text {
  width: 10rem;
}

.btnsDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.imgMain,
.imgSuccess,
.imgError {
  width: 100%;
  height: 40rem;
}


@media only screen and (max-width: 600px) {
  .cardSection {
    height: 100vh;
    margin-top: -10%;
  }

  .card {
    width: 20rem;
    height: 20rem;
  }

  .card-title {
    font-size: 1.5rem;
  }

  .h3Warn {
    font-size: 1rem;
  }

  #text {
    width: 14rem;
  }

  .imgMain,
  .imgSuccess,
  .imgError {
    width: 100%;
    height: 12rem;
  }
}